@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #6dffa0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

nav {
  display: flex;
  width: 100%;
  gap: 24;
  padding: 24;
}

nav a {
  color: var(--foreground);
  text-decoration: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

footer {
  padding: 24;
  justify-content: center;
}

h2 {
  font-weight: 600;
  font-size: var(--text-lg);
  margin-top: 16;
}

p {
  opacity: 0.9;
  margin-top: 4;
}

a {
  font-weight: bold;
  text-decoration: underline;
  color: var(--accent);
}

ol {
  list-style-type: decimal;
  padding-left: 36;
  padding-top: 12;
  padding-bottom: 12;
}

li {
  opacity: 0.9;
  margin-bottom: 8;
}

.gap-28 {
  gap: 28;
}

.mv-12 {
  margin-top: 12;
  margin-bottom: 12;
}

.py-16 {
  padding-block: calc(var(--spacing) * 16);
}

.text-centre {
  text-align: center;
}

.flex-wrap-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-column {
  flex-direction: column;
  flex-wrap: nowrap;
}

.nav-logo {
  height: 56;
}

.section-img {
  min-width: 200px;
}